.corpo {
    /* organizações */
    display: flex;
    justify-content: space-around;

    /* aparências */
    background-color: white;
    /* dimensões */
    height: 100vh;
}

/* organizações */

/* aparências */

/* dimensões */