.pagamento {
    /* organizações */
    margin-top: 5vh;

    /* aparências */
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 8px 3px lightgray;

    /* dimensões */
    width: 500px;
    height: 200px;
}

.header__pag {
    /* organizações */
    display: flex;
    align-items: center;
    justify-content: space-around;

    /* aparências */
    border-bottom: 1px solid var(--color-main);
    color: var(--color-main);

    /* dimensões */
    height: 25%;
}

.header__pag h2 {
    /* organizações */
    margin: 0;

    /* aparências */

    /* dimensões */
}

.header__pag select {
    /* organizações */

    /* aparências */
    color: var(--color-main);
    border: 1px solid var(--color-main);
    border-radius: 8px;

    /* dimensões */
    width: 100px;
    height: 30px;
}

.corpo__pag {
    /* organizações */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* aparências */

    /* dimensões */
    height: 75%;
}

form {
    /* organizações */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* aparências */

    /* dimensões */
    height: 150px;
width: 100%;
}

.form__itens {
    /* organizações */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;

    /* aparências */

    /* dimensões */
}

.valor {
    /* organizações */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    /* aparências */
    color: var(--color-main);

    /* dimensões */
}

.data__input {
    /* organizações */
    margin: auto;
    padding: 7px;

    /* aparências */
    color: black;
    border: 1px solid var(--color-main);
    background-color: var(--color-main);
    text-align: center;
    border-radius: 8px;

    /* dimensões */
}

.data__input:focus{
    outline: none;
}
.data__input::-webkit-calendar-picker-indicator{
    cursor: pointer;
    color: white;
}

.btn__pag {
    /* organizações */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;

    /* aparências */
    border-radius: 0 0 8px 8px;
    border: 2px solid var(--color-main);
    background-color: var(--color-main);
    color: white;
    text-decoration: none;
    transition: .2s all;

    /* dimensões */
    height: 50px;
    width: 99.5%;
}

.btn__pag:hover {
    /* organizações */

    /* aparências */
    background-color: white;
    color: var(--color-main);
    cursor: pointer;

    /* dimensões */
}

.voltar__home {
    /* organizações */

    /* aparências */
    color: var(--color-main);
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    border-top: 1px solid var(--color-main);

    /* dimensões */
    height: 50px;
    width: 99.5%;
}

/* organizações */

/* aparências */

/* dimensões */