.tabela {
    /* organizações */
    margin: auto;
    margin-top: 5vh;

    /* aparência */
    background-color: var(--color-main);
    text-align: center;
    color: white;

    /* dimensões */
    width: 50%;
    height: 2rem;
}