.tabela {
    /* organizações */
    margin: auto;
    margin-top: 5vh;

    /* aparência */
    background-color: var(--color-main);
    text-align: center;
    color: white;

    /* dimensões */
    width: 50%;
    height: 2rem;
}

.produto__carrinho {
    /* organizações */

    /* aparência */
    background-color: white;
    text-align: center;
    color: black;
    border-bottom: 1px solid var(--color-main);

    /* dimensões */
}

.qtd__coluna{
    width: 80px;
}

.qtd__carrinho {
    /* organizações */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    /* aparência */

    /* dimensões */
    height: 100%;
    width: 100%;
}

.qtd__carrinho a {
    /* organizações */

    /* aparência */
    text-decoration: none;
    font-weight: bold;
    color: var(--color-main);
    /* dimensões */
}

.qtd {
    /* organizações */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    /* aparência */

    /* dimensões */
}

.img__card{
    width: 50px;
}