.scroll {
    margin-top: 5vh;
    width: 55%;
    height: 70vh;
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    width: 14px;
}

.scroll::-webkit-scrollbar-track {
    background: var(--color-three);
}

.scroll::-webkit-scrollbar-thumb {
    background-color: var(--color-main);
    border-radius: 20px;
    width: 8px;
    border: 3px solid var(--color-three);
}

.tabela {
    /* organizações */
    margin: auto;

    /* aparência */
    background-color: var(--color-main);
    text-align: center;
    color: white;
    overflow-y: scroll;

    /* dimensões */
    width: 100%;
    height: 10px;
}

.produto__carrinho {
    /* organizações */

    /* aparência */
    background-color: white;
    text-align: center;
    color: black;
    border-bottom: 1px solid var(--color-main);

    /* dimensões */
    height: 60px;

}

.qtd__coluna {
    width: 80px;
}

.qtd__carrinho {
    /* organizações */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    /* aparência */

    /* dimensões */
    width: 100%;
    height: 60px;
}

.qtd__carrinho a {
    /* organizações */

    /* aparência */
    text-decoration: none;
    font-weight: bold;
    color: var(--color-main);
    /* dimensões */
}

.qtd {
    /* organizações */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    /* aparência */

    /* dimensões */
}

.img__card {
    width: 50px;
}