/* ------------------------------------------------Header------------------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
/* -------------------------------------------------Main------------------------------------------------- */
@import url(main/filtro.css);
@import url(main/pratos.css);
@import url(main/cardapio.css);

@import url(main/responsivo.css);


/* ------------------------------------------------Footer------------------------------------------------ */

/* ------------------------------------------------Geral------------------------------------------------- */
:root {
    --color-main: #FFB30E;
    --color-two: #a3a7b4;
    --color-three: #e7eff8;
    --color-four: #f6f7fb;
    --color-five: #a4a7ae;
    --color-six: #f17228;
}

*{
    font-family: 'Montserrat', sans-serif;
}