.filtros {
    /* organizações */
    margin: auto;
    margin-top: 7vh;
    padding: 4vh 0;
    text-align: center;

    /* aparência */
    border-radius: 8px;
    box-shadow: 0 3px 8px 1px lightgray;

    /* dimensões */
    width: 700px;
}

.filtro__input {
    /* organizações */
    margin: auto;
    padding-left: 1rem;

    /* aparência */
    border: none;
    border-bottom: 1px solid var(--color-main);

    /* dimensões */
    width: 75%;
    height: 2.3rem;
}

.filtro__classe {
    /* organizações */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: auto;
    margin-top: 3vh;

    /* aparência */

    /* dimensões */
    width: 70%;
}

.filtro__categoria {
    /* organizações */
    display: flex;
    flex-direction: column;

    /* aparência */

    /* dimensões */
}

.filtro__opcao {
    /* organizações */
    display: flex;
    justify-content: start;

    /* aparência */

    /* dimensões */
}

.filtro__opcao label{
    margin-left: 5px;
}

.img__filtro {
    width: 100%;
}