@media screen and (max-width: 1040px) {
    .cardapio{
    grid-template-columns: 1fr 1fr 1fr;
}
}

@media screen and (max-width: 780px) {
    .cardapio{
    grid-template-columns: 1fr 1fr;
}
}


@media screen and (max-width: 700px) {
    .prato__dia{
        display: flex;
        flex-direction: column;
    }

    .card__prato{
    width: 90%;
    margin-top: 3vh;
}

    .filtros {
        /* organizações */
        padding: 2vh 0;

        /* aparência */
        box-shadow: 0 3px 8px 1px lightgray;

        /* dimensões */
        width: 95%;
    }

    .filtro__classe{
    width: 82%;
}

    .filtro__input {
        margin: 0;
        font-size: .9rem;
    }

    .filtro__categoria {
        /* organizações */
        display: flex;
        flex-direction: column;

        /* aparência */
        font-size: .9rem;

        /* dimensões */
        width: 33%;
    }

}

@media screen and (max-width: 520px) {
    .cardapio{
    grid-template-columns: 1fr;
}
}