.campos {
    /* organizações */
    margin-left: 100px;

    /* aparências */
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 1px 8px 1px lightgrey;

    /* dimensões */
    height: 560px;
    width: 540px;
}

.header__campos {
    /* organizações */
    display: flex;
    align-items: center;
    justify-content: space-around;

    /* aparências */
    border-bottom: 1px solid black;

    /* dimensões */
    height: 50px;
}

.opcao {
    /* organizações */
    margin-left: 10px;
    padding: 0 5px;

    /* aparências */
    border: none;
    border-radius: 8px 8px 0 0 ;

    /* dimensões */
    height: 100%;
}

/* organizações */

/* aparências */

/* dimensões */