.pagamento {
    /* organizações */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* aparências */
    background: linear-gradient(90deg, var(--color-main) 35%, white 35% 100%) ;

    /* dimensões */
    width: 100%;
    height: 100vh;
}

.none{
    display: none;
}


/* organizações */

/* aparências */

/* dimensões */