.form__add {
    /* organizações */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    margin-top: 5vh;
    padding: 1.2rem;

    /* aparências */

    /* dimensões */
    width: 100%;
}

.campo__input {
    /* organizações */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    margin: 1vh auto;

    /* aparências */

    /* dimensões */
    width: 95%;
}

.campo__input2 {
    /* organizações */
    margin: 1vh auto;

    /* aparências */

    /* dimensões */
    width: 95%;
}

.label__input {
    /* organizações */

    /* aparências */
    font-size: 1.2rem;

    /* dimensões */
}

.input__form {
    /* organizações */
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    margin: auto;

    /* aparências */    
    border: none;
    border-radius: 8px;
    background-color: white;

    /* dimensões */
    width: 100%;
}

.btn__add {
    /* organizações */
    margin: auto;
    margin-left: 72%;
    margin-top: 2vh;

    /* aparências */
    border: 2px solid var(--color-main);
    border-radius: 8px;
    background-color: var(--color-main);
    color: white;
    transition: .2s all;
    font-size: 1.   2rem;

    /* dimensões */
    width: 210px;
    height: 4rem;
}

.btn__add:hover {
    /* organizações */

    /* aparências */
    background-color: white;
    color: var(--color-main);

    /* dimensões */
}

/* organizações */

/* aparências */

/* dimensões */