.tabela {
    /* organizações */
    margin: auto;
    margin-top: 5vh;

    /* aparência */
    background-color: var(--color-main);
    text-align: center;
    color: white;
    overflow-y: scroll;

    /* dimensões */
    width: 50%;
    height: 10px;
}

.item__tabela {
    /* organizações */

    /* aparências */
    background-color: white;
    color: var(--color-main);
    border-bottom: 1px solid var(--color-main);

    /* dimensões */
    height: 2rem;
}



/* organizações */

/* aparências */

/* dimensões */