/* ------------------------------------------------Header------------------------------------------------ */



/* -------------------------------------------------Main------------------------------------------------- */
@import url(sistema/geral.css);
@import url(sistema/lista.css);

/* ------------------------------------------------Footer------------------------------------------------ */



/* ------------------------------------------------Geral------------------------------------------------- */
:root {
    --color-main: #FFB30E;
    --color-two: #a3a7b4;
    --color-three: #e7eff8;
    --color-four: #f6f7fb;
    --color-five: #a4a7ae;
}

* {
    font-family: 'Montserrat', sans-serif;
}